$font-size-root: 14px;
$body-font-family: 'Helvetica Neue', serif;

$list-item-title-font-size: 14px;
$list-item-min-height: 32px;

$btn-text-transform: normal;
$btn-letter-spacing: normal;

$text-field-details-margin-bottom: 0px;
